
@using DevGeniusFinance.Models;
@using Humanizer;
@using System.Globalization;

@{
    ViewBag.Title = "Home";
}

<link href="~/Content/home/home.css?v=@DateTime.Now.Ticks" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-columns balance-cards-container">
                @foreach (Balance item in ViewBag.users)
                {
                    <div class="card border-dark" style="min-width: 15rem;">
                        <div class="card-header">@item.Description</div>
                        <div class="card-body">
                            <h5 class="card-title">@String.Format(CultureInfo.GetCultureInfo("pt-BR"), "Saldo: {0:C}", item.Value)</h5>
                            <p class="card-text"><small class="text-muted">Atualizado em @TimeSpanHumanizeExtensions.Humanize((TimeSpan)(DateTime.Now - item.UpdatedAt), 1, CultureInfo.GetCultureInfo("pt-BR"))</small></p>
                        </div>
                    </div>    
                }
            </div>
        </div>
    </div>
</div>
