<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DevGenius Finance</title>
    <link href="~/Content/reset/reset.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css?v=@DateTime.Now.Ticks" rel="stylesheet">
    <link href="~/Content/_layout/main.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <script src="~/Scripts/modernizr/modernizr-2.8.3.js"></script>
    <link href="~/imgs/navicon.png" rel="icon" type="image/png" />
</head>
<body>
    <div class="body-content">
        <menu>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Home</a>
                <div class="dropdown ml-md-auto" id="menu-user">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Olá @Session["nome"].ToString().Split(' ')[0]
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/Account/LogOut">Logout</a>
                    </div>
                </div>
            </nav>
        </menu>
        
        <main>
            @RenderBody()
        </main>
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.0.0.slim.js?v=@DateTime.Now.Ticks"    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/Scripts/_layout/main.js?v=@DateTime.Now.Ticks"></script>
</body>
</html>