
@{ 
    Layout = null;
}

<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand ml-3" id="sidebarCollapse" href="#"><span class="oi oi-menu"></span></a>
    <div class="dropdown ml-md-auto mr-2" id="menu-user">
        <a class="text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Olá @Request.Cookies["name"].Value.ToString().Split(' ')[0]
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            @Html.ActionLink("Logout", "LogOut", "Account", null, new { @class="dropdown-item" })
        </div>
    </div>
</nav>





