
body {
    background-color: #313b3d;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-login {
    margin: 2% auto auto auto;
    height: 200px;
}

.logo {
    max-height: 150px;
    max-width: 200px;
}

.validation-summary-errors {
    margin-top: 10px;
}

    .validation-summary-errors ul {
        padding: 0;
    }

    .validation-summary-errors ul li {
        list-style-type: none;
    }

#CPF, #Password {
    background-color: #313b3d;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0px;
    color: white;
}

    #CPF:focus, #Password:focus {
        box-shadow: none;
        border-bottom: 1px solid #4CAF50;
        box-shadow: 0 1px 0 0 #4CAF50;
    }



